.card {
    position : relative;
    width: 600px;
    padding: 20px;
    max-width: 80vw;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.swipeCard {
    position: absolute;
}